{% extends 'layout.html' %}
{% load static %}

{% block head %}
    {% if err %}
        <script>
            alert("Error while logging in:\n{{ err }}");
        </script>
    {% endif %}

    {% if is_authenticated and not is_staff %}
        <script>
            alert("You are already logged in but not a staff member.");
            navigation.navigate("/profile");
        </script>
    {% endif %}
{% endblock head %}

{% block body %}
<div class="container">
    <div class="row py-2">
        <div class="col-sm-6" style="position: relative;">
            <img
                src="{% static 'images/admin_login.jpg' %}"
                alt="Admin login decorational image."
                style="
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    height: 100%;
                    object-fit: contain;"
            >
        </div>
        <div class="col-sm-6">
            <h2 class="text-center">Admin Login</h2>
            <hr /> 
            <p>Login here to access the admin panel.</p>
            <hr /> 
            <form method="POST">
                {% csrf_token %}
                <div class="form-group mb-2">
                    <label for="usernameIn">Username</label>
                    <input placeholder="Enter your username ..." type="text" class="form-control" id="usernameIn" name="username">
                </div>
                <div class="form-group mb-2">
                    <label for="pwdIn">Password</label>
                    <input placeholder="Password here ..." type="password" class="form-control" id="pwdIn" name="password">
                </div>
                <button type="submit" class="btn btn-primary mt-1">Login</button>
            </form>
        </div>
    </div>
</div>
{% endblock body %}