{% extends 'layout.html' %}
{% load static %}

{% block head %}
{#    <script>#}
{#        $(document).ready(function () {#}
{#            $("#show_hide_password_1 a.input-group-text").on('click', function (event) {#}
{#                event.preventDefault();#}
{#                if ($('#show_hide_password_1 input').attr("type") == "text") {#}
{#                    $('#show_hide_password_1 input').attr('type', 'password');#}
{#                    $('#show_hide_password_1 i').addClass("fa-eye-slash");#}
{#                    $('#show_hide_password_1 i').removeClass("fa-eye");#}
{#                } else if ($('#show_hide_password_1 input').attr("type") == "password") {#}
{#                    $('#show_hide_password_1 input').attr('type', 'text');#}
{#                    $('#show_hide_password_1 i').removeClass("fa-eye-slash");#}
{#                    $('#show_hide_password_1 i').addClass("fa-eye");#}
{#                }#}
{#            });#}
{#            $("#show_hide_password_2 a.input-group-text").on('click', function (event) {#}
{#                event.preventDefault();#}
{#                if ($('#show_hide_password_2 input').attr("type") == "text") {#}
{#                    $('#show_hide_password_2 input').attr('type', 'password');#}
{#                    $('#show_hide_password_2 i').addClass("fa-eye-slash");#}
{#                    $('#show_hide_password_2 i').removeClass("fa-eye");#}
{#                } else if ($('#show_hide_password_2 input').attr("type") == "password") {#}
{#                    $('#show_hide_password_2 input').attr('type', 'text');#}
{#                    $('#show_hide_password_2 i').removeClass("fa-eye-slash");#}
{#                    $('#show_hide_password_2 i').addClass("fa-eye");#}
{#                }#}
{#            });#}
{#            $("#show_hide_password_3 a.input-group-text").on('click', function (event) {#}
{#                event.preventDefault();#}
{#                if ($('#show_hide_password_3 input').attr("type") == "text") {#}
{#                    $('#show_hide_password_3 input').attr('type', 'password');#}
{#                    $('#show_hide_password_3 i').addClass("fa-eye-slash");#}
{#                    $('#show_hide_password_3 i').removeClass("fa-eye");#}
{#                } else if ($('#show_hide_password_3 input').attr("type") == "password") {#}
{#                    $('#show_hide_password_3 input').attr('type', 'text');#}
{#                    $('#show_hide_password_3 i').removeClass("fa-eye-slash");#}
{#                    $('#show_hide_password_3 i').addClass("fa-eye");#}
{#                }#}
{#            });#}
{#        });#}
{#    </script>#}
    <style>
        .input-group-text {
            cursor: pointer;
        }
    </style>
    {% if error %}
        <script>
            alert("Error while changing password.");
        </script>
    {% endif %}
{% endblock head %}

{% block body %}
<div class="container">
    <div class="row my-2">
        <div class="col-sm-6" style="position: relative;">
            <img
                src="{% static 'images/change_password.png' %}"
                alt="Change password decorational image."
                style="
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    height: 100%;
                    object-fit: contain;"
            >
        </div>
        <div class="col-sm-6">
            <h3 class="text-center">Change password</h3>
            <hr />
            <form method="POST">
                {% csrf_token %}
                <div class="form-group mb-2">
                    <label for="oldPwdIn">Old password</label>
                    <div class="input-group" >
                        <input class="form-control" id="oldPwdIn" name="old_password" type="password">
                        <div class="input-group-append"><span class="input-group-text"><i class="fa fa-eye-slash" aria-hidden="true"></i></span></div>
                    </div>
                </div>
                <div class="form-group mb-2">
                    <label for="newPwdIn">New password</label>
                    <div class="input-group">
                        <input class="form-control" name="new_password" type="password" id="newPwdIn">
                        <div class="input-group-append"><span class="input-group-text"><i class="fa fa-eye-slash" aria-hidden="true"></i></span></div>
                    </div>
                </div>
                <div class="form-group mb-2">
                    <label for="confirmPwdIn">Confirm new password</label>
                    <div class="input-group" id="show_hide_password_3">
                        <input class="form-control" name="confirm_password" type="password" id="confirmPwdIn">
                        <div class="input-group-append"><span class="input-group-text"><i class="fa fa-eye-slash" aria-hidden="true"></i></span></div>
                    </div>
                </div>
                <button type="submit" disabled class="btn btn-primary mt-2" style="cursor: not-allowed;">Change Password</button>
            </form>
        </div>
    </div>
</div>
{% endblock body %}