{% extends 'user_core.html' %}
{% load static %}

{% block head %}
<style>
    a, a:hover {
        cursor: pointer;
        color: #333;
        text-decoration: none;
    }
</style>

<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>

<script>
    $(document).ready(function () {
        var button_big = false
        $('body').keypress((event) => {
            // console.log(event.key, event.keyCode, event.which, event.metaKey);
            console.log(`KeyPress event data:\n(1) Key: ${event.key}\n(2) Key Code: ${event.keyCode}\n(3) Which Key: ${event.which}\n(4) Meta Key: ${event.metaKey}`);

            if (
                event.which == 96 &&
                event.key == '`' &&
                event.metaKey == false) {
                    if (button_big) {
                        $('#submit-button').html("Change Password")
                    }
                    else if (!button_big) {
                        $('#submit-button').html("CHANGE my PASSWORD right NOW!!\n I SAID RIGHT NOW! 😡🤬🖕🖕")
                    }

                    button_big = !button_big;
            }
        });

        $("#show_hide_password_1 a.input-group-text").on('click', function (event) {
            event.preventDefault();
            if ($('#show_hide_password_1 input').attr("type") == "text") {
                $('#show_hide_password_1 input').attr('type', 'password');
                $('#show_hide_password_1 i').addClass("fa-eye-slash");
                $('#show_hide_password_1 i').removeClass("fa-eye");
            } else if ($('#show_hide_password_1 input').attr("type") == "password") {
                $('#show_hide_password_1 input').attr('type', 'text');
                $('#show_hide_password_1 i').removeClass("fa-eye-slash");
                $('#show_hide_password_1 i').addClass("fa-eye");
            }
        });
        $("#show_hide_password_2 a.input-group-text").on('click', function (event) {
            event.preventDefault();
            if ($('#show_hide_password_2 input').attr("type") == "text") {
                $('#show_hide_password_2 input').attr('type', 'password');
                $('#show_hide_password_2 i').addClass("fa-eye-slash");
                $('#show_hide_password_2 i').removeClass("fa-eye");
            } else if ($('#show_hide_password_2 input').attr("type") == "password") {
                $('#show_hide_password_2 input').attr('type', 'text');
                $('#show_hide_password_2 i').removeClass("fa-eye-slash");
                $('#show_hide_password_2 i').addClass("fa-eye");
            }
        });
        $("#show_hide_password_3 a.input-group-text").on('click', function (event) {
            event.preventDefault();
            if ($('#show_hide_password_3 input').attr("type") == "text") {
                $('#show_hide_password_3 input').attr('type', 'password');
                $('#show_hide_password_3 i').addClass("fa-eye-slash");
                $('#show_hide_password_3 i').removeClass("fa-eye");
            } else if ($('#show_hide_password_3 input').attr("type") == "password") {
                $('#show_hide_password_3 input').attr('type', 'text');
                $('#show_hide_password_3 i').removeClass("fa-eye-slash");
                $('#show_hide_password_3 i').addClass("fa-eye");
            }
        });
    });
</script>

    {% if error == "no" %}
    <script>
        alert("Password Changed Succesfully. You have to login again with new password.");
        window.location = ("{% url 'logout' %}");
    </script>
    {% endif %}
    {% if error == "yes" %}
    <script>
        alert("Error while Chaning Password.");
    </script>
    {% endif %}
{% endblock head %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 mt-5">
            <img src="{% static 'images/change_password.png' %}" alt="" srcset="" class="img_thumbnail my-4" style="width: 100%; height: 100%;">
        </div>
        <div class="col-sm-6 my-4">
            <h2 class="text-center">Change Password</h2>
            <hr />
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="show_hide_password_1">Old Password</label>
                    <div class="input-group" id="show_hide_password_1">
                        <input placeholder="Old Password Here ..." class="form-control" name="old_password" type="password">
                        <div class="input-group-append">
                            <a class="input-group-text"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="show_hide_password_2">New Password</label>
                    <div class="input-group" id="show_hide_password_2">
                        <input placeholder="New Password Here ..." class="form-control" name="new_password" type="password">
                        <div class="input-group-append">
                            <a class="input-group-text"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="show_hide_password_3">Confirm New Password</label>
                    <div class="input-group" id="show_hide_password_3">
                        <input placeholder="Confirm Password ..." class="form-control" name="confirm_password" type="password">
                        <div class="input-group-append">
                            <a class="input-group-text"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <button type="submit" disabled id='submit-button' class="btn btn-primary mt-2">Change Password ( Implemented due to Security Reasosns )</button>
            </form>
        </div>
    </div>
</div>
{% endblock body %}