{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <!-- Required ( not really ) meta data tags -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>Notes Sharing Site</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!-- Our own CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <!-- Embedded Stylesheet -->
    <style>
        .footer {
            background-color: #ededed;
        }
    </style>

    <!-- Bootstrap JavaScript and JQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>

    <!-- Some JQuery for DYNAMIC DESIGNS 😎 -->
    <script>
        const onWidthChanged = () => {
            if ($(window).width() <= 992) {
                $('#profile-dropdown').removeClass('dropdown-menu-right');
            }
            else if ($(window).width() > 992) {
                $('#profile-dropdown').addClass('dropdown-menu-right');
            }
        }


        $(document).ready(() => {
            onWidthChanged();

            $(window).resize(() => {
                onWidthChanged();
            });
        });
    </script>

    <!-- If the user is authenticated -->
    {% if is_authenticated == "yes" %}
    <script>
        $(document).ready(() => {
            $('#navbar-form').html(`
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hello, {{ request.user.first_name }}
                    </button>
                    <div id="profile-dropdown" class="dropdown-menu dropdown-menu-right" id="profile-dropdown" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" id="profile-link" href="{% url 'profile' %}">Profile</a>
                        <a class="dropdown-item" id="edit-profile-link" href="{% url 'edit_profile' %}">Edit Profile</a>
                        <a class="dropdown-item" id="change-pwd-link" href="{% url 'change_password' %}">Change Password</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="{% url 'logout' %}">Logout</a>
                    </div>
                </div>
                `)
        })
    </script>
    {% endif %}

    <!-- If the user is authenticated -->
    {% if is_staff == "yes" %}
    <script>
        $(document).ready(() => {
            // $('#navbar-form .dropdown').insertAfter()
            $(`<div class="dropdown-divider"></div><a class="dropdown-item" href="{% url 'admin_home' %}">Admin Panel</a>`).insertAfter(`#change-pwd-link`)
            $(`<li class="nav-item"><a class="nav-link" href="{% url 'admin_home' %}">Admin Panel ( Home )</span></a></li>`).insertAfter("#admin-login-link")
        })
    </script>
    {% endif %}

    <!-- Head Block ( to extend the page ) -->
    {% block head %}
    {% endblock head %}
</head>

<body class="d-flex flex-column h-100" style="padding-top: 56px;">
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" {% comment %} style="background-color: rgba(255, 255, 255, 0.8);" {% endcomment %}>
            <a class="navbar-brand mb-0 h1" href="{% url 'home' %}">
                <img style="font-size: 10px;" src="{% static 'images/icon.png' %}" width="30" height="30" class="d-inline-block align-top" alt="Logo">
                Notes Sharing Site
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item" id='admin-login-link'>
                        <a class="nav-link" href="{% url 'admin_login' %}">Admin Login</a>
                    </li>
                </ul>
                <form id='navbar-form' class="form-inline my-2 my-lg-0">
                </form>
            </div>
        </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="flex-shrink-0">
        {% block body %}
        {% endblock body %}
    </main>

    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted"><span class="text-secondary" style="font-weight: bolder;">Copyright</span>
                &copy;2021 | All Rights Reserved | <span class="text-primary" style="font-weight: bold;">Manbir Singh
                    Judge</span></span>
        </div>
    </footer>


    <!-- Bootstrap JavaScript and JQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>


    <!-- NOt bundeled Bootstrap JavaScript and JQuery -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script> -->
</body>

</html>