{% extends 'layout.html' %}
{% load static %}

{% block head %}
    <script>
        $(document).ready(() => {
            $("#branchSelect").val("{{ user_data.branch }}");
        });
    </script>
    {% if error  %}
    <script>
        alert("Error while updating profile.");
    </script>
    {% endif %}
{% endblock head %}

{% block body %}
<div class="container my-2">
    <h2 class="text-center">Edit Profile</h2>
    <hr/>
    <div class="row">
        <div class="col-sm-6">
            <form method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group mb-2 col-sm-6">
                        <label for="firstNameIn">First name</label>
                        <input class="form-control" value="{{user.first_name}}" type="text" name="firstName" id="firstNameIn">
                    </div>
                    <div class="form-group mb-2 col-sm-6">
                        <label for="lastNameIn">Last name</label>
                        <input class="form-control" value="{{user.last_name}}" type="text" name="lastName" id="lastNameIn">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group mb-2 col-md-12">
                        <label for="emailAddrIn">Email address</label>
                        <input readonly class="form-control" value="{{user.username}}" type="text" name="emailAddress" id="emailAddrIn">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group mb-2 col-md-12">
                        <label for="contactIn">Contact number</label>
                        <input class="form-control" value="{{user_data.contact}}" type="text" name="contactNo" id="contactIn">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group mb-2 col-md-12">
                        <label for="branchSelect">Branch</label>
                        <select name="branch" class="form-control" id="branchSelect">
                            <option value="sst">SST</option>
                            <option value="hindi">हिंदी</option>
                            <option value="maths">Maths</option>
                            <option value="gk">GK</option>
                            <option value="computer">Computer</option>
                            <option value="punjabi">ਪੰਜਾਬੀ</option>
                            <option value="english">English</option>
                            <option value="science">Science</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-info mt-1">Save Changes</button>
            </form>
        </div>
    </div>
</div>
{% endblock body %}