{% extends 'layout.html' %}
{% load static %}

{% block head %}
<style>
    .image {
        width: 100%;
        height: 30rem;
        background: url({% static 'images/home_slide_1.jpg' %});
        background-repeat: no-repeat;
        background-position: center;
    }
    .image p {
        margin: 0;
        width: 100%;
        height: 100%;
        padding-top: 13.75rem;
        font-weight: bold;
        font-size: 3.5rem;
        color: darkred;
        text-align: center;
        background: rgba(211, 211, 211, 0.32);
        backdrop-filter: blur(2px);
    }
</style>
{% endblock head %}

{% block body %}
<div class="image">
    <p>Notes Sharing Site</p>
</div>
{% endblock body %}