{% extends 'user_core.html' %}
{% load static %}

{% block head %}
<style>
</style>
{% endblock head %}

{% block body %}
<div class="container mt-5">
    <h2 class="text-center">Profile</h2>
    <hr/>

    <div class="row">
        <div class="col-md-6">
            <b>Full Name:</b>
        </div>
        <div class="col-md-6" style="text-transform: capitalize;">
            {{user.first_name}} {{user.last_name}}
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-md-6">
            <b>First Name:</b>
        </div>
        <div class="col-md-6" style="text-transform: capitalize;">
            {{user.first_name}}
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-md-6">
            <b>Last Name:</b>
        </div>
        <div class="col-md-6" style="text-transform: capitalize;">
            {{user.last_name}}
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-md-6">
            <b>Email:</b>
        </div>
        <div class="col-md-6">
            {{user.username}}
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-md-6">
            <b>Contact:</b>
        </div>
        <div class="col-md-6">
            {{user_data.contact}}
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-md-6">
            <b>Branch:</b>
        </div>
        <div class="col-md-6" style="text-transform: capitalize;">
            {% if user_data.branch == "sst" %}
            SST
            {% else %}
            {{user_data.branch}}
            {% endif %}
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-md-6">
            <b>Role:</b>
        </div>
        <div class="col-md-6" style="text-transform: capitalize;">
            {{user_data.role}}
        </div>
    </div>
    <hr/>

    <a class="btn btn-info my-3" role="button" href="{% url 'edit_profile' %}">Edit Profile</a>
</div>
{% endblock body %}