{% extends 'core.html' %}
{% load static %}

{% block head %}
<style>
    a,
    a:hover {
        cursor: pointer;
        color: #333;
        text-decoration: none;
    }
</style>

<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>

<script>
    $(document).ready(function () {
        $("#show_hide_password a.input-group-text").on('click', function (event) {
            event.preventDefault();
            if ($('#show_hide_password input').attr("type") == "text") {
                $('#show_hide_password input').attr('type', 'password');
                $('#show_hide_password i').addClass("fa-eye-slash");
                $('#show_hide_password i').removeClass("fa-eye");
            } else if ($('#show_hide_password input').attr("type") == "password") {
                $('#show_hide_password input').attr('type', 'text');
                $('#show_hide_password i').removeClass("fa-eye-slash");
                $('#show_hide_password i').addClass("fa-eye");
            }
        });
    });
</script>

    {% if error == "no" %}
    <script>
        alert("Signup Successfull! Now you have to login");
        window.location = ("{% url 'login' %}")
    </script>
    {% endif %}
    {% if error == "yes" %}
    <script>
        alert("Error while signing up.");
    </script>
    {% endif %}
{% endblock head %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 mt-5">
            <!-- <h2 class="text-center">Exsisting Customer</h2> -->
            <h2 class="text-center">Already Signedup</h2>
            <hr />
            <p>Login back to enjoy our sevieces! ☺</p>
            <center><a href="{% url 'login' %}" class="btn btn-primary mt-2"><span
                        style="font-size: 20px;">LOGIN</span></a></center>
        </div>
        <div class="col-sm-6 my-5">
            <h2 class="text-center">Signup Form</h2>
            <hr />
            <p>By creating an account with our website, you will be able to move through the notes upload, download and
                much more services.</p>
            <hr />
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input name="firstName" placeholder="Enter your First Name ..." type="text" class="form-control"
                        id="firstName">
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input name="lastName" placeholder="Enter your Last Name ..." type="text" class="form-control"
                        id="lastName">
                </div>
                <div class="form-group">
                    <label for="contactNo">Contact Number</label>
                    <input name="contactNo" placeholder="Enter your Contact No. ..." type="text" class="form-control"
                        id="contactNo">
                </div>
                <div class="form-group">
                    <label for="emailAddress">Email address</label>
                    <input name="emailAddress" placeholder="Enter your Email Address ..." type="email"
                        class="form-control" id="emailAddress" aria-describedby="emailAddressHelp">
                    <small id="emailAddressHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <div class="form-group">
                    <label for="show_hide_password">Password</label>
                    <div class="input-group" id="show_hide_password">
                        <input name="password" placeholder="Password here ..." type="password" class="form-control"
                            id="password">
                        <div class="input-group-append">
                            <a class="input-group-text"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="branch">Branch</label>
                    <select name="branch" class="form-control" id="branch">
                        <option value="SST">SST</option>
                        <!-- <option>SST ( History )</option>
                        <option>SST ( Geography )</option>
                        <option>SST ( Civics )</option> -->
                        <option value="hindi">Hindi</option>
                        <option value="maths">Maths</option>
                        <option value="gk">GK</option>
                        <option value="computer">Computer</option>
                        <option value="punjabi">Punjabi</option>
                        <option value="english">English</option>
                        <option value="scinece">Science</option>
                        <!-- <option>Science ( Pyshics )</option>
                        <option>Science ( Chemistery )</option>
                        <option>Science ( Biology )</option> -->
                    </select>
                </div>
                <div class="form-group">
                    <label for="role">Role</label>
                    <select name="role" class="form-control" id="role">
                        <option value="student">Student</option>
                        <option value="teacher">Teacher</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mt-2">Sign Up</button>
            </form>
        </div>
    </div>
</div>
{% endblock body %}