{% extends 'layout.html' %}
{% load static %}

{% block head %}
    {% if err %}
        <script>
            alert("Error while uploading notes:\n{{ err }}");
        </script>
    {% else %}
        {% if uploaded %}
            <script>
                alert("Notes uploaded successfully.");
            </script>
        {% endif %}
    {% endif %}
{% endblock head %}

{% block body %}
<div class="container">
    <h2 class="text-center mt-2">Upload Notes</h2>
    <hr />
    <div class="row pb-2">
        <div class="col-sm-6">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group mb-2">
                    <label for="branch">Branch</label>
                    <select name="branch" class="form-control" id="branch">
                        <option value="sst">SST</option>
                        <option value="hindi">हिंदी</option>
                        <option value="maths">Maths</option>
                        <option value="gk">GK</option>
                        <option value="computer">Computer</option>
                        <option value="punjabi">ਪੰਜਾਬੀ</option>
                        <option value="english">English</option>
                        <option value="science">Science</option>
                    </select>
                </div>
                <div class="form-group mb-2">
                    <label for="topicIn">Topic</label>
                    <input name="subject" type="text" class="form-control" id="topicIn">
                </div>
                <div class="form-group mb-2">
                    <label for="fileIn">File</label>
                    <input name="file" type="file" class="form-control" id="fileIn">
                </div>
                <div class="form-group mb-2">
                    <label for="descIn">Description</label>
                    <textarea name="description" placeholder="(Optional)" type="text" class="form-control" id="descIn" rows=3></textarea>
                </div>
                <button type="submit" class="btn btn-primary mt-1">Upload</button>
            </form>
        </div>
        <div class="col-sm-6" style="position: relative;">
            <img
                src="{% static 'images/notes_uploading.png' %}"
                alt="Notes upload decorational image."
                style="
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    height: 100%;
                    object-fit: contain;"
            >
        </div>
    </div>
</div>
{% endblock body %}