{% extends 'user_core.html' %}
{% load static %}

{% block head %}
<style>
</style>

{% if error == "no" %}
<script>
    alert("Notes Upload Succesfully");
    window.location("{% url 'upload_notes' %}")
</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert("Error while Uploading Notes!");
</script>
{% endif %}
{% endblock head %}

{% block body %}
<div class="container">
    <h2 class="text-center mt-4">Upload Notes</h2>
    <hr />
    <div class="row">
        <div class="col-sm-6 mt-1 mb-4">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="branch">Branch</label>
                    <select name="branch" class="form-control" id="branch">
                        <option value="SST">SST</option>
                        <option value="hindi">Hindi</option>
                        <option value="maths">Maths</option>
                        <option value="gk">GK</option>
                        <option value="computer">Computer</option>
                        <option value="punjabi">Punjabi</option>
                        <option value="english">English</option>
                        <option value="scinece">Science</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="subject">Subject ( Topic )</label>
                    <input name="subject" placeholder="Enter Subject ( topic ) ..." type="text" class="form-control"
                        id="subject">
                </div>
                <div class="form-group">
                    <label for="file">File</label>
                    <input name="file" type="file" class="form-control" id="file">
                </div>
                <!-- <div class="form-group">
                    <label for="file-group">File</label>
                    <div class="input-group" id="file-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="file" id="file">
                            <label class="custom-file-label" for="file">Choose Notes File ...</label>
                        </div>
                    </div>
                </div> -->
                <div class="form-group">
                    <label for="file_type">File Type</label>
                    <select name="file_type" class="form-control" id="file_type">
                        <option value="PDF">Portable Document Format ( .pdf )</option>
                        <option value="PPT">PowerPoint Animation ( .pptx, .ppt )</option>
                        <option value="DOC">Word Document ( .docx, .doc ) </option>
                        <option value="image">Image ( .jpg, .jpeg, .png, .tif, .gif )</option>
                        <option value="text">Text File ( .txt ) </option>
                        <option value="archive">Archives: ZIP, RAR ( .zip, .rar ) </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" placeholder="Description Here ( Optional ) ( 🥱😴 ) ..." type="text" class="form-control"
                        id="description" rows=3></textarea>
                </div>
                <button type="submit" class="btn btn-primary mt-2">Upload</button>
            </form>
        </div>
        <div class="col-sm-6 mb-1">
            <img src="{% static 'images/notes_uploading.png' %}" alt="" srcset="" class="img_thumbnail my-4" style="width: 100%; height: 400px;">
        </div>
    </div>
</div>
{% endblock body %}