{% extends 'user_core.html' %} 
{% load static %} 

{% block head %}
<style>
    td {
        text-transform: capitalize;
    }
</style>
{% endblock head %} 

{% block body %}
<div class="container">
    <h2 class="text-center my-4">My Notes</h2>

    <div class="table-responsive">
        <table class="table table-bordered md-2" id="_table">
            <thead class="thead-dark">
                <tr>
                    <th class="align-middle">Sr. No.</th>
                    <th class="align-middle">Upload Date</th>
                    <th class="align-middle">Branch</th>
                    <th class="align-middle">Subject (Topic)</th>
                    <th class="align-middle">Download Notes (File)</th>
                    <th class="align-middle">File Type</th>
                    <th class="align-middle">Descirption</th>
                    <th class="align-middle">Status</th>
                    <th class="align-middle">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for note in notes %}
                <tr>
                    <td class="align-middle">{{ forloop.counter }}</td>
                    <td class="align-middle">{{ note.upload_date }}</td>
                    <td class="align-middle">{{ note.branch }}</td>
                    <td class="align-middle">{{ note.subject }}</td>
                    <td class="align-middle"><a role="button" class="btn btn-light btn-sml" href="{{ note.file.url }}" download>Download</a></td>
                    <td class="align-middle">{{ note.file_type }}</td>
                    <td>{{ note.description }}</td>
                    <td class="align-middle">{{ note.status }}</td>
                    <td class="align-middle"><a role="button" class="btn btn-danger btn-sml" href="{% url 'delete_my_note' note.id %}" onclick="return confirm('Are you sure?')">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock body %}
